root { 
  display: block;
}

body {
  background-image:url('../img/gui/srttbg.jpg');
  background-color: #fff;
  margin: 0px 0px 0px 0px;
  font-size: 0.7em;
}

.hidden {
  display: none;
}

div.inline {
  float: left;
}

div.right {
  float: right;
}

div.center {
  margin-left: auto;
  margin-right: auto;
}

.ui-menu {
  font-weight: bold;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.no-title .ui-dialog-titlebar {
  display:none;
}

#board {
  position: relative;
  top: 10px;
  padding-top: 0px;
  width: 100%;
  height: 450px;
}

.card {
  position:absolute;
  width: 87px;
  height: 124px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.5s;
     -moz-transition: -moz-transform 0.5s;
       -o-transition: -o-transform 0.5s;
          transition: transform 0.5s;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
       -o-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.card.flipped {
  -webkit-transform: rotateY( 180deg );
     -moz-transform: rotateY( 180deg );
       -o-transform: rotateY( 180deg );
          transform: rotateY( 180deg );
}

.card.flipped .front{
  -webkit-transform: translate3d(0,0,0);
}

.card figure {
  margin: 0;
  display: block;
  height: 100%;
  width: 100%;
  line-height: 0px;
  color: white;
  position: absolute;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
       -o-backface-visibility: hidden;
          backface-visibility: hidden;
}

.card figure img {
  display: block;
  margin: 0 auto;
  padding-top: 0px;
  width: 87px;
  height: 124px;
}

.card figure img.big{
  position: relative;
  left: -4px;
  top: -6px;
  width: 95px;
  height: 135px;
  border: 2px solid yellow;
}

.card .back {
  -webkit-transform: rotateY( 180deg );
     -moz-transform: rotateY( 180deg );
       -o-transform: rotateY( 180deg );
          transform: rotateY( 180deg );
}

#header {
  padding: 2px;
}

div.info  {
  border: 1px solid #a1a1a1;
  padding: 4px 4px;
  text-align:center;
  margin: 0px 5px;
  background: #dddddd;
  display: inline-block;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.3em;
}

#nuyens {
  width: 50px;
}

#currentPhase {
  width: 150px;
}