root { 
  display: block;
}

body {
  background-color: #fff;
  margin: 0px 0px 0px 0px;
  font-size: 0.9em;
}


.ui-tabs-vertical {
  width: 1250px;
}

.ui-tabs-vertical .ui-tabs-nav {
  padding: .2em .1em .2em .2em;
  float: left;
  width: 12em;
}

.ui-tabs-vertical .ui-tabs-nav li {
  clear: left;
  width: 100%;
  border-bottom-width: 1px !important;
  border-right-width: 0 !important;
  margin: 0 -1px .2em 0;
}

.ui-tabs-vertical .ui-tabs-nav li.space {
  margin-bottom: 2em;
}

.ui-tabs-vertical .ui-tabs-nav li a {
  display:block;
  width:10em;
  font-weight: bold;
}

.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
  padding-bottom: 0;
  padding-right: .1em;
  border-right-width: 1px;
  border-right-width: 1px;
}

.ui-tabs-vertical .ui-tabs-panel {
  padding: 0em;
  float: right;
  width: 1030px;
}

.card_img {
  margin: 0px;
  padding-top: 0px;
}

.list_element {
  position: relative;
  float: left;
  width: 330px;
  height: 410px;
  background-color: #B0B0B0;
  margin: 3px;
  padding: 2px;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}

.list_element.horizontal {
  width: 450px;
  height: 290px;
}

.card {
  float: left;
  width: 294px;
  height: 410px;
  background-color: black;
  border-radius: 10px;
}

.card_h {
  float: left;
  width: 410px;
  height: 286px;
  background-color: black;
  margin: 2px;
  border-radius: 10px;
}

.ui-progressbar {
  height: 1.5em;
  position: relative;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.progress-label {
  position: absolute;
  left: 40%;
  top: 2px;
  font-weight: bold;
}

.page {
  margin-top: 50px;
}

.float {
  position: fixed;
  background-color: #ffffff;
  width: 100%;
  top: 0px;
  left: 0px;
}

.card_buttons {
  font-size: 0.7em;
}

.button {
  position: absolute;
  bottom: 10px;
  margin: 4px;
}

.dodaj{
  bottom: 40px;
}

.card_counter {
  position: absolute;
  bottom: 75px;
  right: 12px;
  font-size: 1.5em;
  font-weight: bold;
}

#toolbar {
  sdisplay: none;
  padding: 4px;
  /*display: inline-block;*/
}

/* support: IE7 */
*+html #toolbar {
  display: inline;
}

#subtypes .ui-button {
  width: 100px;
}

#save {
  position: absolute;
  top: 2px;
  right: 10px;
  font-size: 0.9em;
  font-weight: bold;
}
