root { 
  display: block;
}

body {
  background-color: #fff;
  margin: 0px 0px 0px 0px;
}

body #game {
  margin: 0 auto;
}

#board {
  position: relative;
  top: 10px;
  padding-top: 0px;
  width: 100%;
  height: 450px;
  background-color: rgb(228, 228, 228);
}

.card {
  position:absolute;
  width: 87px;
  height: 124px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.5s;
     -moz-transition: -moz-transform 0.5s;
       -o-transition: -o-transform 0.5s;
          transition: transform 0.5s;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
       -o-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.card.flipped {
  -webkit-transform: rotateY( 180deg );
     -moz-transform: rotateY( 180deg );
       -o-transform: rotateY( 180deg );
          transform: rotateY( 180deg );
}

.card.flipped .front{
  -webkit-transform: translate3d(0,0,0);
}

.card figure {
  margin: 0;
  display: block;
  height: 100%;
  width: 100%;
  line-height: 0px;
  color: white;
  position: absolute;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
       -o-backface-visibility: hidden;
          backface-visibility: hidden;
}

.card figure img {
  display: block;
  margin: 0 auto;
  padding-top: 0px;
  width: 87px;
  height: 124px;
}

.card figure img.big{
  position: relative;
  left: -4px;
  top: -6px;
  width: 95px;
  height: 135px;
  border: 2px solid yellow;
}

.card .back {
  -webkit-transform: rotateY( 180deg );
     -moz-transform: rotateY( 180deg );
       -o-transform: rotateY( 180deg );
          transform: rotateY( 180deg );
}

.hidden {
  display: none
}

.ui-progressbar {
  position: relative;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.progress-label {
  position: absolute;
  left: 45%;
  top: 4px;
  font-weight: bold;
}

a {
  width: 175px;
}