{%if type == 'sp'%}
<div id="toolbar_sp" class="ui-widget-header ui-corner-all">
  <span id="subtypes">
    <input type="radio" id="subtype1" name="subtypes"{%if subtype != 'stinger'%} checked="checked"{%endif%}><label for="subtype1">Specjalne</label>
    <input type="radio" id="subtype2" name="subtypes"{%if subtype == 'stinger'%} checked="checked"{%endif%}><label for="subtype2">Żądła</label>
  </span>
</div>
<script>
$( "#subtypes" ).buttonset();
$( "#subtype1" ).click(function( event ) {
  $('#tabs ul:first li:eq(4) a').attr('href', '/card_list?type=sp');
  $("#tabs").tabs('load',4);
});
$( "#subtype2" ).click(function( event ) {
  $('#tabs ul:first li:eq(4) a').attr('href', '/card_list?type=sp&subtype=stinger');
  $("#tabs").tabs('load',4);
});
</script>

{%elif type == 'ge'%}
<div id="toolbar_ge" class="ui-widget-header ui-corner-all">
  <span id="subtypes_ge">
  {%for gear_type in gear_types %}
    <input type="radio" id="subtype_ge{{forloop.counter}}" name="subtypes_ge"{%if subtype == gear_type.name%} checked="checked"{%endif%}><label for="subtype_ge{{forloop.counter}}">{{gear_type.name}}</label>
  {%endfor%}
  </span>
</div>
<script>
  $( "#subtypes_ge" ).buttonset();
  $( "input[name='subtypes_ge']" ).click(function( event ) {
    id = $(this).attr('id');
    label = $("label[for='"+id+"']").text();
    $('#tabs ul:first li:eq(5) a').attr('href', '/card_list?type=ge&subtype='+label);
    $("#tabs").tabs('load',5);
  });
</script>

{%elif type == 'ru'%}
<div id="toolbar_ru" class="ui-widget-header ui-corner-all">
  <span id="subtypes_ru">
    <input type="radio" id="subtype_ru1" name="subtypes_ru"{%if subtype == 'subtype_ru1'%} checked="checked"{%endif%}><label for="subtype_ru1">CYBORGI</label>
    <input type="radio" id="subtype_ru2" name="subtypes_ru"{%if subtype == 'subtype_ru2'%} checked="checked"{%endif%}><label for="subtype_ru2">CZŁ. GANGU</label>
    <input type="radio" id="subtype_ru3" name="subtypes_ru"{%if subtype == 'subtype_ru3'%} checked="checked"{%endif%}><label for="subtype_ru3">DEKERZY</label>
    <input type="radio" id="subtype_ru4" name="subtypes_ru"{%if subtype == 'subtype_ru4'%} checked="checked"{%endif%}><label for="subtype_ru4">DETEKTYWI</label>
    <input type="radio" id="subtype_ru5" name="subtypes_ru"{%if subtype == 'subtype_ru5'%} checked="checked"{%endif%}><label for="subtype_ru5">MAGOWIE</label>
    <input type="radio" id="subtype_ru6" name="subtypes_ru"{%if subtype == 'subtype_ru6'%} checked="checked"{%endif%}><label for="subtype_ru6">NAJEMNICY</label>
    <input type="radio" id="subtype_ru7" name="subtypes_ru"{%if subtype == 'subtype_ru7'%} checked="checked"{%endif%}><label for="subtype_ru7">RIGGERZY</label>
    <input type="radio" id="subtype_ru8" name="subtypes_ru"{%if subtype == 'subtype_ru8'%} checked="checked"{%endif%}><label for="subtype_ru8">ROCKERZY</label>
    <input type="radio" id="subtype_ru9" name="subtypes_ru"{%if subtype == 'subtype_ru9'%} checked="checked"{%endif%}><label for="subtype_ru9">SAMURAJOWIE</label>
    <input type="radio" id="subtype_ru10" name="subtypes_ru"{%if subtype == 'subtype_ru10'%} checked="checked"{%endif%}"><label for="subtype_ru10">SZAMANI</label>
    <input type="radio" id="subtype_ru11" name="subtypes_ru"{%if subtype == 'subtype_ru11'%} checked="checked"{%endif%}"><label for="subtype_ru11">INNI</label>
  </span>
</div>
<script>
  $( "#subtypes_ru" ).buttonset();
  $( "input[name='subtypes_ru']" ).click(function( event ) {
    id = $(this).attr('id');
    $('#tabs ul:first li:eq(3) a').attr('href', '/card_list?type=ru&subtype='+id);
    $("#tabs").tabs('load',3);
  });
</script>

{%elif type == 'ch'%}
<div id="toolbar_ch" class="ui-widget-header ui-corner-all">
  <span id="subtypes_ch">
  {%for keyword in challenges_keywords %}
    <input type="radio" id="subtype_ch{{forloop.counter}}" name="subtypes_ch"{%if subtype == keyword.name%} checked="checked"{%endif%}><label for="subtype_ch{{forloop.counter}}">{{keyword.name}}</label>
  {%endfor%}
  </span>
</div>
<script>
  $( "#subtypes_ch" ).buttonset();
  $( "input[name='subtypes_ch']" ).click(function( event ) {
    id = $(this).attr('id');
    label = $("label[for='"+id+"']").text();
    $('#tabs ul:first li:eq(2) a').attr('href', '/card_list?type=ch&subtype='+label);
    $("#tabs").tabs('load',2);
  });
</script>

{%endif%}

{% for card in cards %}
<div class="list_element{%if type == 'ob' or type == 'lo'%} horizontal{%endif%}" max_cards="{%if type != 'ru' or not card.IsUnique %}4{%else%}1{%endif%}" >
<div class="card{%if type == 'ob' or type == 'lo'%}_h{%endif%}" style="background: #000000 url('/static/{%if type == 'ob' or type == 'lo'%}horizontal/{%endif%}{{card.img}}') no-repeat 4px 4px;"></div>
<div id="{{type}}{{card.id}}" class="card_counter">0</div>
<div class="card_buttons">
<button class="button dodaj">dodaj kartę</button>
<button class="button usun">usuń kartę</button>
</div>
</div>
{% endfor %}

  <script>

     $( ".dodaj" ).button({
      icons: {
      primary: "ui-icon-plusthick"
      },
      text: false
      }).click(function() {
        DodajKarte(this);
	  });

     $( ".usun" ).button({
      icons: {
      primary: "ui-icon-minusthick"
      },
      text: false
      }).click(function() {
        UsunKarte(this);
	  });

      if (InObjectives()) {
        maxCards = ObjectivesMax;
        SetCounter('counter', cardsCount, maxCards);
      }
      else {
        maxCards = DeckMax;
        SetCounter('counter', ObjectivesCardsCount, maxCards);
      };

      refreshSelected();
  </script>
