<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="Language" content="pl">
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.min.js"></script>
	<script src="/static/js/jQueryRotate.js"></script>
	<script src="/static/js/card.js"></script>
	<script src="/static/js/client.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/ui-darkness/jquery-ui.css">
    <!--link rel="stylesheet" type="text/css" href="/static/css/style.css"/-->
	<link rel="stylesheet" type="text/css" href="/static/css/client_style.css"/>
</head>
<body>

    <div id="header">
      <div id="right-header" class="right">
        <div id="userName" class="inline info" >niezalogowany</div>
        <button id="btnLogin">Zaloguj</button>
        <img id="conn_img" src="/static/img/gui/disconnect.png">
      </div>

      <div id="center-header" class="center">
        <div id="nuyens" class="inline info">
          0 &yen;
        </div>
        <div id="currentPhase" class="inline info">

        </div>
      </div>

      <button id="btnNextPhase">NASTĘPNA FAZA</button>

    </div>

	<!--div id="game">
		<section id="board">
		</section>
	</div-->


    <div id="dlgMessage" class="hidden" title="Uwaga"></div>

    <div id="dlgLogin" class="hidden" title="Logowanie">
      <p>
        <ul id="ulUsersList">
          {%for user in users%}
          <li><a class="loginUser {%if user.id == 2%}ui-state-disabled{%endif%}" id="{{user.id}}" href="#">{{user.name}}</a></li>
          {%endfor%}
        </ul>
      </p>
    </div>

    <section id="board">
    </section>

    <div id="dlgMainMenu" class="hidden" title="Menu">
      <p>
        <ul id="ulGameMenu">
          <li><a href="#" id="btnNewGame">NOWA GRA</a></li>
        </ul>
      </p>
    </div>

<div id="output" style="visibility:hidden"></div>
<script src="/static/js/ws_client.js"></script>

</body>
</html>